%header.navbar.navbar-default
  .container
    .navbar-header
      %button.navbar-toggle.pull-left{type: "button", 'data-toggle': "collapse", 'data-target': "#navbar"}
        %span.sr-only
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to t('.bookstore'), root_path, class: 'navbar-brand'
      %a.shop-link.pull-right.visible-xs{href: "#"}
        %span.shop-icon
          %span.shop-quantity 4
    %a.shop-link.pull-right.hidden-xs{href: "#"}
      %span.shop-icon
        %span.shop-quantity 4
    #navbar.navbar-collapse.collapse.pl-30{'aria-expanded': "false"}
      .visible-xs
        %button.close{type: "button", 'aria-label': "Close"}
          %span{'aria-hidden': "true"} &times;
        %ul.nav.navbar-nav
          %li
            %a{href: "#"}= t('.home')
          %li
            %a{type: "/shop"}= t('.shop')
          %li
            %a{href: "#"}= t('.my_account')
            = link_to t('.my_account'), new_user_session_path

      .hidden-xs
        %ul.nav.navbar-nav
          %li= link_to t('.home'), root_path
          %li= link_to t('.shop'), shop_path

          %li#my-account-dropdown.dropdown
            %a.dropdown-toggle{href: "#", 'data-toggle': "dropdown", 'aria-haspopup': "true", 'aria-expanded': "false"}= t('.my_account')

            %ul.dropdown-menu
              - unless current_user
                %li= link_to t('devise.sessions.new.signin'), new_user_session_path
                %li= link_to t('devise.sessions.new.signup'), new_user_registration_path

              - if current_user
                %li= link_to t('.settings'), edit_user_registration_path

                %li.divider{role: "separator"}

                %li= link_to t('.sign_out'), destroy_user_session_path, 'data-method': "delete", 'rel': 'nofollow'
