%main.container
  - if flash[:notice]
    .alert.alert-info
      = flash[:notice]

  = render 'carousel'

.container
  .jumbotron.text-center.mb-0
    %h2.h1= t('.welcome_to_our_amazing_bookstore')
    .mb-res-50
      %p= t('.about_our_bookstore')
    %button.btn.btn-default= t('.get_started')

  = render 'bestsellers'
