%html
  %head
    %meta{charset: "UTF-8"}
    %meta{name: "viewport", content: "width=device-width"}

    %title Rails Bookstore

    = csrf_meta_tags

    %link{href: "https://fonts.googleapis.com/css?family=Open+Sans", rel: "stylesheet"}

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'

  %body.flex.flex-column
    = render 'shared/header'

    .flex-grow.page-content
      = yield

    = render 'shared/footer'

%script{src: "https://use.fontawesome.com/67602d7308.js"}
